html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.font-roboto {
  font-family: "Roboto", serif;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.font-source {
  font-family: "Source Serif Pro", serif;
}

.word-break {
  word-break: break-all;
}

.c-p {
  cursor: default;
}
.c-p:hover {
  cursor: pointer;
}

.timer-text {
  min-width: 4ch;
}

.text-c4 {
  color: #c4c4c4;
}

.fs-150 {
  font-size: 150px;
}

.target-bar {
  height: 2.75rem !important;
}
.th {
  text-transform: uppercase;
}

.stat-card {
  background-color: #26262c;
}

.body-row {
  border-style: hidden !important;
}

.top-right-image {
  right: 0;
  top: 0;
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.target-month {
  width: 300px;
}

.month-select {
  background-color: #26262c;
  width: 40px;
  font-size: 24px;
  height: 40px;
}
